.chart-actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 5% 5% 5% 80%;
  grid-template-columns: 5% 5% 80%;
  grid-column-gap: 5%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
